*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    background-image: url(./images.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.heading{
    display: flex;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgb(100, 92, 92) ;
}
.end_heading{
    display: flex;
    text-shadow: 2px 2px 3px rgb(100, 92, 92) ;
}
.sub_container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.input{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 60px;
    border-radius: 10px ;
    border: solid black;
}
#input_1, #input_2, #input_3 ,#input_4{
    text-align: center;
    font-size: large;
}